.mid-postions{
    margin-top: 16%;
    margin-bottom: 18%;
}

.pleft{
    padding-left: 23%;
}
.pright{
    padding-right: 23%;
}
.pl-button{
    padding-left: 30%;
}
@media only screen and (max-width: 1586px) {
    .pl-button{
        padding-left: 1%;
    }
  }