<div class="my-5" *ngFor="let post of posts?.slice(0,10); let i = index">
    <p-panel>
        <ng-template class="p-panel-header-reset" pTemplate="header">
            <div class="grid">
                <div class="flex align-items-center gap-2 w-12">
                    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" size="large" shape="circle" />
                    <a (click)="goToPerson(post.userEmail)"><span class="font-bold">{{post?.userFirstName + " " + post?.userLastName}}</span></a>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid w-full py-2 justify-content-end">
                <div class="ml-5 px-3">
                    <div *ngIf="!likeClicked[i]">
                        <i class="pi pi-thumbs-up" (click)="likePost(i)" style="font-size: 2rem"></i>
                    </div>
                    <div *ngIf="likeClicked[i]">
                        <i class="pi pi-thumbs-up-fill" (click)="likePost(i)" style="font-size: 2rem"></i>
                    </div>
                </div>
                <div class="mr-2 pl-1">
                    <i (click)="openComments(i)" class="pi pi-comments" style="font-size: 2rem"></i>
                </div>
            </div>
            <div *ngIf="commentsOpen && i === index">
                <div *ngFor="let comment of comments" class="flex flex-wrap align-items-center justify-content-between w-full mt-2">
                    <div class="grid w-full">
                        <div class="flex align-items-center w-12 mt-1">
                            <p-panel class="w-full">
                                <ng-template pTemplate="header">
                                    <div class="flex align-items-center gap-2">
                                        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" size="large" shape="circle" />
                                        <a (click)="goToPerson(comment.userEmail)"><span class="font-bold">{{comment.userFirstName + ' ' + comment.userLastName}}</span></a>
                                    </div>
                                </ng-template>
                                <p>
                                    {{comment.text}}
                                </p>
                            </p-panel>
                        </div>
                    </div>
                </div>
                <div class="grid p-5 justify-content-center">
                        <textarea class="col-10" rows="3" cols="30" pInputTextarea placeholder="Dodaj komentar" [autoResize]="true" [(ngModel)]="value"></textarea>
                        <i (click)="addComment()" class="flex align-items-center pi pi-send col-2 pleft-center" style="font-size: 2rem"></i>
                </div>
            </div>
        </ng-template>
        <div class="card flex justify-content-center">
            <div class="grid">
                <div>
                    <div class="flex align-items-center w-12">
                        <h3>{{post.title}}</h3>
                    </div>
                    <div class="flex align-items-center w-12 py-1">
                        <span>{{post.description}}</span>
                    </div>
                </div>
                <div>
                    <div class="flex align-items-center w-9 py-1 mt-3">
                        <span><span class="font-bold">Kolegij:</span> {{post.subjectName}}</span>
                    </div>
                    <div class="flex align-items-center w-9 py-1">
                        <span><span class="font-bold">Naziv projekta:</span> {{post.projectTask.title}}</span>
                    </div>
                    <div class="flex align-items-center w-12 py-1">
                        <span><span class="font-bold">Zadatak:</span> {{post.projectTask.description}}</span>
                    </div>
                    <div class="grid">
                        <img class="w-10 col-offset-1 p-3" *ngIf="post.imageLink != ''" src="{{post.imageLink}}">
                    </div>
                </div>
                <div *ngIf="post.link != null " class="flex align-items-center w-12 py-1 m-1">
                    <a href="{{post.link}}" class="border-round flex justify-content-center my-auto text-center w-6 col-offset-3">
                        <i class="pi pi-github" style="font-size: 2.5rem"></i>
                    </a>
                </div>
            </div>
        </div>
    </p-panel>
</div>

