<p-toolbar styleClass="bg-gray-900 shadow-2" [style]="{ 'background-image': 'linear-gradient(to right, var(--bluegray-500), var(--bluegray-800))' }">
    <ng-template pTemplate="start">
        <a [routerLink]="['/']">
            <img src="assets/Vector_4.png" />
        </a>
    </ng-template>
    <ng-template pTemplate="center">
        <div class="flex flex-wrap align-items-center gap-3">
            <input pInputText class="w-full hidden" pKeyFilter="alphanum" />
        </div>
    </ng-template>
    <ng-template pTemplate="end">
        <div class="col-8">
            <a [routerLink]="['/userpage']">
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" styleClass="mr-2" size="large" [style]="{ 'background-color': '#2196F3', color: '#ffffff' }" shape="circle"></p-avatar>
            </a>
        </div>
    </ng-template>
</p-toolbar>
