<div *ngIf="isLoadedHomePage$ | async" class="grid pb-5">
    <div class="flex justify-content-center font-bold px-5 py-3 w-2 right-border">
        <app-for-you-page-block></app-for-you-page-block>
    </div>
    <div class="flex md:flex-none flex align-items-center justify-content-center font-bold px-5 py-1 w-8 bottom-border">
        <app-post-page-block></app-post-page-block>
    </div>
    <div class="flex align-items-center justify-content-center font-bold px-5 py-3 w-2 left-border">
        <app-friend-list-block></app-friend-list-block>
    </div>
</div>
<div *ngIf="!(isLoadedHomePage$ | async)" class="flex justify-content-center p-8">
    <p-progressSpinner></p-progressSpinner>
</div>

