<div class="flex">
    <div class="flex-1 flex align-items-center justify-content-center bg-primary font-bold m-2 px-5 py-3 border-round w-1">
        <app-for-you-page-block></app-for-you-page-block>
    </div>
    <div class="flex-1 md:flex-none flex align-items-center justify-content-center bg-primary font-bold m-2 px-5 py-3 border-round w-6">
        <app-post-page-block></app-post-page-block>
    </div>
    <div class="flex-1 flex align-items-center justify-content-center bg-primary font-bold m-2 px-5 py-3 border-round w-3">
        <app-friend-list-block></app-friend-list-block
    ></div>
</div>

