<p-panel header="{{tabName}}">
<div 
*ngIf="(isLoadedSaved$|async) &&
(isLoadedProjects$|async) &&
(isLoadedStudenti$|async) &&
(isLoadedSudionici$|async) &&
(isLoadedSubject$|async)"
>
<div *ngIf="tabName ==='Studenti'">
    <div>    
        <div *ngIf="show===false">
               <div class="grid">
                <div class="col-5 ml-5 mb-3" *ngFor="let folder of folderInfo.slice(0,6)">
                    <a [routerLink]="['/userpage']" [queryParams]="{userName:folder.email}">
                        <div class="grid text-center align-items-center p-3 border-round-sm bg-button-revers font-bold">
                            <p-avatar class="w-2" image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" size="large" shape="circle" />
                            <div class="w-10">{{folder.firstName + " " + folder.lastName}}</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div *ngIf="show===true">
            <div class="grid">
                <div class="col-5 ml-5 mb-3" *ngFor="let folder of folderInfo.slice(first,pageCount)">
                    <a [routerLink]="['/userpage']" [queryParams]="{userName:folder.email}">
                        <div class="grid text-center align-items-center p-3 border-round-sm bg-button-revers font-bold">
                            <p-avatar class="w-2" image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" size="large" shape="circle" />
                            <div class="w-10">{{folder.firstName + " " + folder.lastName}}</div>
                        </div>
                    </a>
                </div>
            </div>
            <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="folderLength"></p-paginator>
        </div>
        <div *ngIf="folderLength>6">
            <button class="p-fluid w-full p-button justify-content-center" (click)="show = !show">{{ show ? 'Prikaži manje': 'Prikaži više' }}</button>
        </div> 
    </div> 
</div>
<div *ngIf="tabName === 'Sudionici'">
    <div>    
        <div *ngIf="show===false">
               <div class="grid">
                <div class="col-5 ml-5 mb-3" *ngFor="let folder of folderInfo.slice(0,6)">
                    <a [routerLink]="['/userpage']" [queryParams]="{userName:folder.userEmail}">
                        <div class="grid text-center align-items-center p-3 border-round-sm bg-button-revers font-bold">
                            <p-avatar class="w-2" image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" size="large" shape="circle" />
                            <div class="w-10">{{folder.userFirstName + " " + folder.userLastName}}</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div *ngIf="show===true">
            <div class="grid">
                <div class="col-5 ml-5 mb-3" *ngFor="let folder of folderInfo.slice(first,pageCount)">
                    <a [routerLink]="['/userpage']" [queryParams]="{userName:folder.userEmail}">
                        <div class="grid text-center align-items-center p-3 border-round-sm bg-button-revers font-bold">
                            <p-avatar class="w-2" image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" size="large" shape="circle" />
                            <div class="w-10">{{folder.userFirstName + " " + folder.userLastName}}</div>
                        </div>
                    </a>
                </div>
            </div>
            <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="folderLength"></p-paginator>
        </div>
        <div *ngIf="folderLength>6">
            <button class="p-fluid w-full p-button justify-content-center" (click)="show = !show">{{ show ? 'Prikaži manje': 'Prikaži više' }}</button>
        </div> 
    </div> 
</div>
<div *ngIf="tabName !='Studenti' && tabName != 'Sudionici' && tabName ==='Saved'">
    <div>    
            <div *ngIf="show===false">
                <div class="grid">
                    <div class="col-5 ml-5 mb-3" *ngFor="let folder of folderInfo.slice(0,6)">
                        <a (click)="onOpenSavedFolder(folder.name)"><div class="text-center p-3 border-round-sm bg-button">{{folder.name}}</div></a>
                    </div>
                </div>
            </div>
            <div *ngIf="show===true">
                <div class="grid">
                    <div class="col-5 ml-5 mb-3" *ngFor="let folder of folderInfo.slice(first,pageCount)">
                        <a (click)="onOpenSavedFolder(folder.name)"><div class="text-center p-3 border-round-sm bg-button">{{folder.name}}</div></a>
                    </div>
                </div>
                <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="folderLength"></p-paginator>
            </div>
            <div *ngIf="folderLength>6">
                <button class="p-fluid w-full p-button justify-content-center" (click)="show = !show">{{ show ? 'Prikaži manje': 'Prikaži više' }}</button>
            </div> 
    </div>
</div>
<div *ngIf="tabName !='Studenti' && tabName != 'Sudionici' && tabName ==='Kolegiji'">
    <div>    
            <div *ngIf="show===false">
                <div class="grid">
                    <div class="col-5 ml-5 mb-3" *ngFor="let folder of folderInfo.slice(0,6)">
                        <a [routerLink]="['/subjectpage']" [queryParams]="{userName:loggedInUser,subjectAbbr:folder?.abbreviation}"><div class="text-center p-3 border-round-sm bg-button">{{folder.name}}</div></a>
                    </div>
                </div>
            </div>
            <div *ngIf="show===true">
                <div class="grid">
                    <div class="col-5 ml-5 mb-3" *ngFor="let folder of folderInfo.slice(first,pageCount)">
                        <a [routerLink]="['/subjectpage']" [queryParams]="{userName:loggedInUser,subjectAbbr:folder?.abbreviation}"><div class="text-center p-3 border-round-sm bg-button">{{folder.name}}</div></a>
                    </div>
                </div>
                <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="folderLength"></p-paginator>
            </div>
            <div *ngIf="folderLength>6">
                <button class="p-fluid w-full p-button justify-content-center" (click)="show = !show">{{ show ? 'Prikaži manje': 'Prikaži više' }}</button>
            </div> 
    </div>
</div>
<div *ngIf="tabName !='Studenti' && tabName != 'Sudionici' && tabName ==='Projekti'">
    <div>    
            <div *ngIf="show===false">
                <div class="grid">
                    <div class="col-5 ml-5 mb-3" *ngFor="let folder of folderInfo.slice(0,6)">
                        <a (click)="onOpenProjectFolder(folder.name)"><div class="text-center p-3 border-round-sm bg-button">{{folder.name}}</div></a>
                    </div>
                </div>
            </div>
            <div *ngIf="show===true">
                <div class="grid">
                    <div class="col-5 ml-5 mb-3" *ngFor="let folder of folderInfo.slice(first,pageCount)">
                        <a (click)="onOpenProjectFolder(folder.name)"><div class="text-center p-3 border-round-sm bg-button">{{folder.name}}</div></a>
                    </div>
                </div>
                <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="folderLength"></p-paginator>
            </div>
            <div *ngIf="folderLength>6">
                <button class="p-fluid w-full p-button justify-content-center" (click)="show = !show">{{ show ? 'Prikaži manje': 'Prikaži više' }}</button>
            </div> 
    </div>
</div>
</div>

<div 
*ngIf="(!isLoadedSaved$|async) || 
(!isLoadedProjects$|async) || 
(!isLoadedSudionici$|async) || 
(!isLoadedStudenti$|async) || 
(!isLoadedSubject$|async)" 
class="card flex justify-content-center">
    <p-progressSpinner></p-progressSpinner>
</div>
</p-panel>