<div class="grid shadow-3 justify-content-center">
    <img src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" class="h-19rem w-12"/>
    <div *ngIf="isLoadedUserPage$ | async" class="w-11 col-offset-1 border-left-right">
        <p-fieldset class="relative profile-position w-full">
            <ng-template pTemplate="header">
                <div class="flex align-items-center">
                    <img src="{{user?.image}}" class="pic-size border-circle" />
                </div>
            </ng-template>
            <div>
                <div class="mb-3 text-5xl">
                    {{user?.firstName + " " + user?.lastName}}
                </div>
                <p-tabView>
                    <p-tabPanel header="Informacije">
                        <p>
                            <app-info-card></app-info-card>
                        </p>
                    </p-tabPanel>
                    <!-- <p-tabPanel header="Objave">
                        <p>
                            <app-post></app-post>
                        </p>
                    </p-tabPanel> -->
                </p-tabView>
            </div>
        </p-fieldset>
    </div>
    <div *ngIf="!(isLoadedUserPage$ | async)" class="w-4 col-offset-4">
        <p-progressSpinner></p-progressSpinner>
    </div>
</div>


