<div class="bg-primary h-10rem static"></div>
<p-fieldset class="relative profile-position">
    <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2 px-2">
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
        </div>
    </ng-template>
    <p class="m-0">
        {{user.firstName + " " + user.lastName}}
        <p-tabView>
            <p-tabPanel header="Informacije">
                <p>
                    <app-info-card></app-info-card>
                </p>
            </p-tabPanel>
            <p-tabPanel header="Objave">
                <p>
                    <app-post></app-post>
                </p>
            </p-tabPanel>
        </p-tabView>
    </p>
</p-fieldset>

