@import "primeicons/primeicons.css";
/* You can add global styles to this file, and also import other style files */
a{
    text-decoration: none;
    cursor: pointer;
}
body{
    margin:0 !important;
}

.secondary-color-button{
    background-color: #8BB3CD;
    border-color: #8BB3CD;
}
.white-text{
    color: var(--primary-color-text);
}
a{
    color:#000000;
}
body,
body .p-component
{
  font-family: "Raleway", sans-serif;
}
.button-github{
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.125em
}