<div class="grid">
    <div class="col-12">
        <div class="w-full py-5">
            <p-accordion [activeIndex]>
                <p-accordionTab header="Kolegiji">
                    <div *ngFor ="let subject of subjects?.slice(0,10)">
                        <a 
                        [routerLink]="['/subjectpage']" 
                        [queryParams]="{userName: userEmail,subjectAbbr:subject?.abbreviation}" >
                        {{subject?.abbreviation}}
                    </a>
                        <p-divider></p-divider>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="Studenti">
                    <div *ngFor ="let user of users?.slice(0,10)">
                        <a 
                        [routerLink]="['/userpage']" 
                        [queryParams]="{userName:user.email}" >
                        {{user?.firstName +" "+ user?.lastName}}
                    </a>
                        <p-divider></p-divider>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="Ustanove">
                    <div *ngFor ="let institution of institutions?.slice(0,10)">
                        <a 
                        [routerLink]="['/fakspage']" 
                        [queryParams]="{userName: userEmail,institutionID: institution?.id}" >
                        {{institution?.abbreviation}}
                    </a>
                        <p-divider></p-divider>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
</div>
