<div class="w-full">
    <div class="w-full">
        <div>
            Za tebe (For you page)
        </div>
        <div>
            Preporuceno (Recommended)
        </div>
    </div>
    <div class="card flex justify-content-center w-full">
    <p-accordion [activeIndex]>
        <p-accordionTab header="Kolegiji">
            <p *ngFor ="let subject of subjects">
                <!-- <a [routerLink]="['/subjectpage']">{{subject.name}}</a> -->
                <a [routerLink]="['/subjectpage']">EPIDI</a>
                <p-divider></p-divider>
            </p>
        </p-accordionTab>
        <p-accordionTab header="Studenti">
            <p *ngFor ="let user of users">
                <!-- <a [routerLink]="['/userpage']">{{user.firstName +" "+ user.lastName}}</a> -->
                <a [routerLink]="['/userpage']">Luka Mavrić</a>
                <p-divider></p-divider>
            </p>
        </p-accordionTab>
        <p-accordionTab header="Ustanove">
            <p *ngFor ="let institution of institutions">
                <!-- <a [routerLink]="['/fakspage']">{{institution.name}}</a> -->
                <a [routerLink]="['/fakspage']">FIDIT</a>
                <p-divider></p-divider>
            </p>
        </p-accordionTab>
    </p-accordion>
</div>
</div>
